*{
   list-style: none;
}
.nav {
   background-image: url(../myimages/moving\ 1.png) ;
   padding: 50px;
   background-size: cover; height:550px; padding-top:80px;">

}
.list {
   display: flex;
   justify-content: space-around;
   padding: 2rem;
   border: 1px solid;
   margin: 2rem 2rem;
   
}

.cut{
   display:flex;
   padding: 40px;
}
.move{
    background-color: black;
    color: white;
    display: flex;
   

}
.movera{
    display: flex;
    justify-content: space-between;
    margin: 2rem 12rem;
}
.top{
    margin: 4rem 18rem;
}
.moverb{
    display: flex;
    justify-content: space-between;
    margin: 4rem 12rem;
}
.heading{
    display: flex;
    justify-content: space-between;
    margin: 1rem 16rem;
}
.learnmore{
    margin: 2rem 0rem;
}
.parap{
    margin: 8rem 8rem;
}
.para{
    margin: 8rem 8rem;
    font-size: x-large;
}
.button{
    background-color: black;
    color: yellowgreen;
}

