*{
    list-style: none;
}
.modern{
    background-color: black;
    color: white;
    
    
}
.make{
    background-color: black;
    color: white;
    display: flex;
   
    
}
.list{
    display: flex;
    justify-content: space-between;
    align-items: right;
    margin: 2rem 20rem;
    padding: 40px;
}
.ave{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    margin: 0rem 4rem;
}
.pic{
    display: flex;
    margin: 2rem 0rem;
}
.kitchen{
     margin: 0rem 8rem;
     padding: 40px;

}
.description{
    
    margin: 0rem 0rem;
}
.malto{
    display: flex;
    justify-content: space-between
}
.goes{
    margin: 4rem 4rem;
}
.dream{
    display: flex;
    justify-content: space-between;
    margin: 2rem 2rem;
}
.tr{
    padding: 15px;
   margin: 0rem 2rem;
}
.button{
    background-color: black;
    color: yellowgreen;
    padding: 15px 32px;
    border-radius: 12px;
}
